<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>cefabot v4 panel</title>

    <link rel="icon" type="image/png" href="<%= WEB_ROOT_PATH %>/favicon.png">
    <link rel="stylesheet" href="<%= WEB_ROOT_PATH %>/build/global.css">
    <link rel="stylesheet" href="<%= WEB_ROOT_PATH %>/build/bundle.css">

    <link rel="apple-touch-icon" sizes="180x180" href="<%= WEB_ROOT_PATH %>/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= WEB_ROOT_PATH %>/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= WEB_ROOT_PATH %>/favicons/favicon-16x16.png">
    <link rel="manifest" href="<%= WEB_ROOT_PATH %>/favicons/site.webmanifest">
    <link rel="shortcut icon" href="<%= WEB_ROOT_PATH %>/favicons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="cefabot v4 panel">
    <meta name="application-name" content="cefabot v4 panel">
    <meta name="theme-color" content="#1a202c">

    <script defer src="<%= WEB_ROOT_PATH %>/build/bundle.js"></script>
</head>

<body class="bg-gray-800 text-white pt-12 sm:pt-14"></body>

<script>
    window.WEB_ROOT = "<%= WEB_ROOT_PATH %>";
    window.TOKEN_EXPIRE_DURATION = <%= TOKEN_EXPIRE_DURATION %>;
</script>
</html>
